[Unit]
Description=fortunetelling
[Service]
TimeoutStartSec=0
ExecStart=/bin/java -XX:CompressedClassSpaceSize=30m -XX:ReservedCodeCacheSize=50m -XX:InitialCodeCacheSize=20m -Xms80m -Xmx80m -Xmn40m -jar /root/fortunetelling/build/libs/fortunetelling-1.0.jar --server.port=5001
[Install]
WantedBy=multi-user.target
